/*Dashboard Style*/
.boxProfil
{
	float:left;
	padding:10px 20px;
	border:1px solid #f3f3f3;
	margin:3px;
}
.noteProfil
{
	background:red;
	display:block;
	color:#fff;
	font-size:12px;
	
}
.clear
{
	clear:both;
}

.backPopup
	{
		display:none;
		background:#000;
		position:fixed;
		min-width:100%;
		min-height:100%;
		z-index:1000;
		top:0px;
		left:0px;
		color:#fff;
		opacity:0.3;
		font-weight:bold;
		text-align:right;
	}

	.topPopup
	{
		margin:0px 0px 0px 0px;
		display:none;
		z-index:1001;
		position:absolute;
		top: 0px;
		left: 0px;
		background:#fff;
		padding: 5%;
		width: 90%;
		border: 1px solid #666;
	}
	
	/* ===================== default Plan ======================== */
	.COMFOR_BOXOUT
	{
		float:left;
		padding: 5%;
		border:1px solid #ccc;
		margin:0px 0px 10px 0px;
		width: 90%
	}
	
	.descriptionPlan, .termOfPlan
	{
		display:none;
		background:#f3f3f3;
		padding: 10px;
		border: 1px solid #ccc;
		margin: 0px 0px 0px 0px;
	}
	
	.detailPlan
	{
		margin-top:10px;
	}
ul.boxPlanInv{
		list-style: none !important;
		margin: 0px 0px 0px 0px !important;
		padding: 0px !important;
		float: right;
	}
.boxPlanInv li {
		list-style: none !important;

}
.seeDescription a:link,.seeDescription a:visited,.seeDescription a:hover,
.seeTerm a:link, .seeTerm a:visited,.seeTerm a:hover,
.detailPlan a:link, .detailPlan a:visited, .detailPlan a:hover  {
		text-decoration: none !important;
}
.seeDescription,.seeTerm
	{
		border: 1px solid #ddd;
		cursor:pointer;
		margin: 0px 0px 0px 2px !important;
		padding: 5px 0px 5px 0px !important;
		width: 100px;
		float: left;
		}
.detailPlan
	{
		border: 1px solid #ddd;
		cursor:pointer;
		margin: 0px 0px 0px 2px !important;
		padding: 5px 0px 5px 0px !important;
		width: 100px !important;
		text-align: center;
		float: left;
		background: #eee;

		}
	/* ========================================================== */
	
	.detailThisPlan
	{
		border:1px solid #f3f3f3;
		padding:5px;
		text-align:left;
	}
	
	.termOfCondition
	{
		text-align:left;
		background:#f3f3f3;
		font-size:10px;
		padding:5px;
		margin:10px 0px 0px 0px;
	}
	
	/* ========================== plan ============================*/
	.investRegister{
		display:none;
	}
	
	#penanggung_jawab{
		display:none;
	}
	
	.tab > div
	{
		cursor:pointer;
		text-align:left;
	}
	
	.investTabLogin
	{
		float:left;
	}
	
	#investForm
	{
		text-align:left;
	}
	
	.DIV_INV_ORDERPLAN
	{
		padding:0px;
		border: 0px solid #f00;
	}

	.formOrderPlan
	{
	}
	
	.termBox
	{
		float:right;
		width:400px;
		background:#f3f3f3;
	}
	
	.DIV_INV_ORDERPLAN h2
	{
		padding:10px;
	}
	.investAddPlanBox {
		margin: 0px 0px 10px 0px;
		padding: 0px 0px 0px 0px;
		border-bottom: 1px dotted #ccc;
	}
	/*DIV_INV_ORDERPLAN .inputbox #email, ..DIV_INV_ORDERPLAN .inputbox #nama, .DIV_INV_ORDERPLAN .inputbox #investasi*/
	div.formOrderPlan #email, div.formOrderPlan #nama, div.formOrderPlan #investasi, div.formOrderPlan #hp, div.formOrderPlan #penanggung_jawab, div.formOrderPlan #namaplan, div.formOrderPlan #plan_id
	{
		padding:5px;
		border: 1px solid #ccc;
		width: 250px;
	}
	div.formOrderPlan #type {
		padding:5px;
		border: 1px solid #ccc;
		width: 262px;
	}
	.formOrderPlanInput {
		margin: 0px 20px 10px 0px;
		width: 260px;
		float: left;
	}
	.formOrderPlanDesc {
		margin: 0px 0px 0px 0px;
		font-size: 10px;
		width: 250px;
		border: 0px solid #f00;
	}
	.doOrder, .doRegister {
		width: 260px !important;
	}
	.textPesan {
		float: left;
		background: #eee;
	width: 670px;
	padding: 30px 33px 30px 35px;
	border : 0px solid #ddd;
	margin: 0px;
	}
	.myProfileMy {
	background: #eee;
	padding: 30px 33px 30px 35px;
	border : 0px solid #ddd;
	margin: 0px;
	}
table.sumPlan {
	border: 0px solid #f00;
}
table.sumPlan tr {
	border-bottom: 1px dotted #ccc;
}
table.sumPlan td.sumPlanAwal {
	padding: 10px 0px 10px 10px;
}
table.sumPlan th.sumPlanAwal {
	padding: 10px 0px 10px 10px;
}
table.sumPlan td {
	padding: 10px 0px 10px 0px; 
}
table.sumPlan th {
	padding: 10px 0px 10px 0px;
	font-weight: normal;
	background: #f6f6f6;
}
.showMessInfo {
	padding: 10px;
	border: 1px dotted #fff;
	background: #51d7ff;
}
.BoxProdDetails {
	border: 1px solid #ddd;
	padding: 10px;
	margin: 10px 0px 10px 0px;
}
#chart_div {
	border: 1px solid #ddd;
	margin: 10px 0px 10px 0px;
}