/*Stylesheet*/

/*Dashboard Style*/
#dashboardBox
{
	width:680px;
	float:left;
	min-height:500px;
	margin:3px;
	background:#fff;
	border-top-left-radius:8px;
	border-bottom-left-radius:8px;
	padding:15px;
}
#dashboardInfo
{
	max-width:220px;
	min-height:500px;
	margin:3px;
	float:left;
	background:#3bbaff;
	color:#fff;
	border-top-right-radius:8px;
	border-bottom-right-radius:8px;
	padding:15px;
}
.box a
{
	float:left;
	width:100px;
	padding:8px;
	margin:8px;
	border:1px solid #ccc;
	opacity:0.5;
	border-radius:8px;
	text-align:center;
}
.box a:hover
{
	opacity:1;
	text-decoration:none;
	box-shadow:3px 3px 1px #ccc;
}
.clear
{
	clear:both;
}


/* Navigation */
#boxLeft
{
	float:left;
	width:17%;
	background:#fff;
	border-radius:8px;
	padding:10px;
}
	
#boxRight
{
	float:right;
	width:80%;
}
	
.category
{
	font-weight:bold;
	font-size:14px;
	background:#f3f3f3;
	padding:5px;
}
	
.item
{
	font-weight:normal;
	font-size:12px;
	padding:2px 5px;
	background:#fff;
	padding:5px 10px;
}

.void
{
	height:20px;
}
	
.imagesItem
{
	padding:3px 5px 0px 15px;
	float:left;
}

.boxCategory
{
margin:10px;
float:left;
padding:25px;
background:#fff;
border-radius:5px;
font-weight:bold;
cursor:pointer;
}

.backPopup
	{
		display:none;
		background:#000;
		position:fixed;
		min-width:100%;
		min-height:100%;
		z-index:1000;
		top:0px;
		left:0px;
		color:#fff;
		opacity:0.3;
		font-weight:bold;
		text-align:right;
	}

	.topPopup
	{
		margin:0px 0px 0px 0px;
		display:none;
		z-index:1001;
		position:absolute;
		top: 0px;
		left: 0px;
		background:#fff;
		padding: 20px;
		border: 1px solid #f3f3f3;
	}