    <link href="style.css" rel="stylesheet" type="text/css" media="all" />
    <script type="text/javascript" src="jquery-1.3.1.min.js"></script>
    <script type="text/javascript" src="jquery.betterTooltip.js"></script>
    <script type="text/javascript">
		$(document).ready(function(){
			$('.tTip').betterTooltip({speed: 150, delay: 300});
		});
	</script>
<div class="tTip" id="cloud1" title="What's the difference between here and there? What's the difference between here and there? What's the difference between here and there?">asdfasdfas</div>
<div class="tTip" id="cloud2" title="What's the difference between here and there? What's the difference between here and there? What's the difference between here and there? To hold cows together.">What's the greatest worldwide use of cowhide?</div>
<div class="tTip" id="cloud3" title="Neither, both burn shorter (not longer).">Which burns longer, a red candle or a white one?</div>
<div class="tTip" id="cloud4" title="Sunday - the rest are week days">Which is the strongest day of the week?</div>
<div class="tTip" id="cloud5" title="What's the difference between here and there? What's the difference between here and there? What's the difference between here and there?2 hours after 11:00 is 1:00">When can you add two to eleven and get one as the correct answer? </div>