/* .tip {
	width: 400px;
	padding-top: 37px;
	overflow: hidden;
	display: none;
	position: absolute;
	z-index: 500;
	background: transparent url(images/tipTop.png) no-repeat top left;}
	
.tipMid {background: transparent url(images/tipCtr.png) repeat-y; padding: 0 25px 20px 25px;}
.tipBtm {background: transparent url(images/tipBtm.png) no-repeat bottom left; height: 32px;}
*/
.tip {
	max-width:400px;
	overflow: hidden;
	display: none;
	position: absolute;
	z-index: 500;
	background:none;
	border:none;
	}
	
.tipMid {border-radius:10px; background:#fff; padding: 25px;border:5px solid #ccc;}
.tipBtm {background:url(images/top.png) bottom left no-repeat; margin-left:10px;height:15px}